{% extends 'templates/master.twig' %}

{% block header %}
    <div>
        Some custom header content
    </div>
{% endblock %}

{% block content %}
    <div>
        User List
    </div>
    <ul>
        {% for person in people %}
            <li>Name: {{ person.username }}, email: {{ person.email }}</li>
        {% else %}
            No users have been found.
        {% endfor %}
    </ul>
{% endblock %}